.userid{
font-weight:bold;
font-size:1.6rem;
}

.title{
    font-weight:bold;
    font-size:1.2rem;
    font-family: 'Macondo', cursive;

}

.completed{
font-size:1rem;
font-weight:bold;
}

.datacol{
    height:40vh;
    margin:2vh;
    padding:2vh;
    font-family: 'Shadows Into Light', cursive;
    
}